<!-- SKIN2 전용 커스텀 Footer -->
<footer id="skin2-footer" class="skin2-footer-container">
    <div class="footer-content">
        <div class="footer-line1">
            <a href="/member/agreement.html">Agreement</a> <a href="/shopinfo/guide.html">Guide</a> <a href="/member/privacy.html">Privacy</a> <a href="#none">사업자정보확인</a>
        </div>
        <div class="footer-line2">
            투운프로젝트 (TOUNE)　Address : 서울특별시 종로구 청계천로 319 다동 507호　Business license : 771-09-02855　Mall-order license : 2025-서울종로-1198　Email : tounekr@gmail.com　대표자명 : 김현호　유선번호 : 010-9609-7753
        </div>
    </div>
</footer>

<!-- 모바일 하단 네비게이션 완전 제거 -->

<div module="Layout_SearchHeader">
	<!--
		$product_page=/product/detail.html
		$category_page=/product/list.html
	-->
	<div class="title">SEARCH</div>
	<fieldset>
		<legend>검색</legend>
		{$form.keyword}<button type="button" class="btnDelete">삭제</button><button type="button" class="btnSearch" onclick="{$action_search_submit}"><!--@import(/svg/icon-search.html)--> 검색</button><ul class="autoDrop" id="{$search_auto_id}"></ul>
	</fieldset>
	<button type="button" class="btnClose"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>
</div>