<!-- SKIN2 전용 커스텀 Footer -->
<footer id="skin2-footer" class="skin2-footer-container">
    <div class="footer-content">
        <div class="footer-line1">
            070-000-0000　Mon-Fri : 11am - 5pm　Weekend Holiday Off　/ <a href="/member/mall_agreement.html">Agreement</a> <a href="/shopinfo/guide.html">Guide</a> <a href="/member/privacy.html">Privacy</a> <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=" target="_blank">사업자정보확인</a>
        </div>
        <div class="footer-line2">
            Agit Store　CEO : Honggildong　Address : 1f, 65-55, Hannam-Dero 10-Gil Yongsan-Gu, Seoul　Business license : 000-00-000000　Mall-order license : 0000-서울서초-0000　Email : test@naver.com　Site By <a href="#" class="site-credit">ID5AGIT</a>
        </div>
    </div>
</footer>

<!-- 모바일 하단 네비게이션 완전 제거 -->

<div module="Layout_SearchHeader">
	<!--
		$product_page=/product/detail.html
		$category_page=/product/list.html
	-->
	<div class="title">SEARCH</div>
	<fieldset>
		<legend>검색</legend>
		{$form.keyword}<button type="button" class="btnDelete">삭제</button><button type="button" class="btnSearch" onclick="{$action_search_submit}"><!--@import(/svg/icon-search.html)--> 검색</button><ul class="autoDrop" id="{$search_auto_id}"></ul>
	</fieldset>
	<button type="button" class="btnClose"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>
</div>