<aside class="RTMB" id="aside" module="layout_slidePackage">
<!--@css(/layout/basic/css/slideMenu.css)-->
<!--@js(/layout/basic/js/slide_menu.js)-->
<nav class="navigation-menu" role="navigation">
<div class="navigation_state" data-ez-group="top-util-menu" data-ez-role="list">
<a data-ez-item="join" href="/member/agreement.html" module="Layout_statelogoff">회원가입</a>
<a data-ez-item="login" href="/member/login.html" module="Layout_statelogoff">로그인</a>
<a data-ez-item="modify" href="/member/modify.html" module="Layout_stateLogon">내정보수정</a>
<a data-ez-item="logout" href="{$action_logout}" module="Layout_stateLogon">로그아웃</a>
<a data-ez-item="order" href="/myshop/order/list.html">주문조회</a>
<a data-ez-item="mypage" href="/myshop/index.html" module="Layout_stateLogon">마이페이지</a>
<a data-ez-item="recent" href="/product/recent_view_product.html">최근본상품</a>
</div><!-- //navigation_state -->
<div data-ez-module="menu-side/1">
<div class="navigation-menu__category" id="slideCateList">
<ul class="categoryList" module="layout_category">
<li class="menu" id="cate{$cate_no}">
<a class="view" href="{$link_product_list}">{$name|cut 25}</a>
<a cate="{$param}" class="cate" href="#none">상품보기</a>
</li>
<li class="menu" id="cate{$cate_no}">
<a class="view" href="{$link_product_list}">{$name|cut 25}</a>
<a cate="{$param}" class="cate" href="#none">상품보기</a>
</li>
</ul>
</div>
</div><!-- //menu-side/1 -->
<div class="cboth slide_line"></div>
<div class="navigation-menu__board" module="Layout_BoardInfo">
<div class="title">고객센터<button class="icoCategory" type="button">펼침</button></div>
<ul class="categoryList" style="display:none;">
<li class="menu"><a href="{$link_board_list}">{$board_name}</a> {$board_adult_icon}</li>
<li class="menu"><a href="{$link_board_list}">{$board_name}</a> {$board_adult_icon}</li>
</ul>
</div><!-- //tab_community -->
<div module="Layout_multishopList">
<button class="toggle" type="button">{$current_language} <i aria-hidden="true" class="icon icoArrowBottom"></i></button>
<ul module="Layout_multishopListitem">
<li class="{$selected_class}">
<a href="//{$shop_domain}/">{$locale_language}</a>
</li>
<li class="{$selected_class}">
<a href="//{$shop_domain}/">{$locale_language}</a>
</li>
</ul>
</div>
</nav>
<button class="btnClose" type="button"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>
</aside>